<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HelloDatabase</title>
    </head>

    <body>
        <h1>HelloDatabase</h1>
        <h2 th:text="${teksti1}">testi</h2>
        <h2 th:text="${teksti2}">testi</h2>

            <ul th:each="alkio : ${list}">
                <span th:text="${alkio}"> test </span>
            </ul>


        <table>
            <tr>
                <th>Items</th>
            </tr>

            <tr th:each="item : ${items}">
                <td th:text="${item.name}">Item name</td>
            </tr>
        </table>

        <h2>Add an item</h2>

        <form th:action="@{/}" method="POST">
            <span>Name:</span>
            <input type="text" name="name"/>
            <input type="submit" value="Add!"/>
        </form>
    </body>
</html>
